.list {
  padding: 10px;
  margin: 0;
}

.list li {
  display: inline-block;
  vertical-align: top;
  list-style-type: none;
  background: #ab0d86;
  width: 150px;
  height: 150px;
  margin: 10px;
  color: #000;
}

.list li:nth-child(1n) {
  background: #ffe107;
}

.list li:nth-child(2n) {
  background: #47fcba;
}

.list li:nth-child(3n) {
  background: #f03580;
}

.list li:nth-child(4n) {
  background: #26bdff;
}

.list li:nth-child(5n) {
  background: #ff9900;
}

.list li fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  height: 100%;
}

.list li fieldset textarea {
  font-size: 12px;
  border: 0;
  padding: 5px;
  margin: 5px;
  display: block;
  border: 1px solid transparent;
  width: calc(100% - 12px);
  background: transparent;
  resize: none;
}

.list li fieldset textarea:focus {
  border: 1px solid #8c8c8c;
  outline: 0;
}

.titleField {
  font-weight: bold;
  height: calc(30% - 10px);
}

.bodyField {
  height: calc(70% - 10px);
}
